<div class="card_two_parent">
    <div 
    class="text-center">
        <img [src]="card_two_Data.img" alt="">
    </div>
    <div 
    class="p-3">
        <h3><span class="used">Used</span> {{card_two_Data.h3}}</h3>
        <p class="price">{{card_two_Data.p1}}</p>
        <div class="bottom">
            <small>
                <img src="assets/images/927799 1.png" alt="">
                {{card_two_Data.feature1}}
            </small>
            <small>
                <img src="assets/images/17736 1.png" alt="">
                {{card_two_Data.feature2}}
            </small>
        </div>
        <div class="icons">
            <div>
                <small>{{card_two_Data.feature3}}</small>
                <span class="mx-1"></span>
                <small>{{card_two_Data.feature4}}</small>
            </div>
            <div>
                <span>
                    <img src="assets/images/share 1.png" alt="">
                </span>
                <span>
                    <img src="assets/images/love.png" alt="">
                </span>
            </div>
        </div>
    </div>
</div>