<header style="background-image: url('assets/images/space.jpg');">
    <div class="p-3">
            <h1>professssional auto parts</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus quibusdam perspiciatis reprehenderit eaque ut laudantium, tempore doloribus commodi explicabo quam.</p>
            <button class="green_btn">view more</button>
    </div>
</header>
<!--  -->
<app-cars-for-rent></app-cars-for-rent>
<!--  -->
<app-new-cars></app-new-cars>
<!--  -->
<app-features></app-features>
<!--  -->
<app-new-arrivals></app-new-arrivals>
<!--  -->