@font-face {
    font-family: SF_Pro_Display;
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF');
  }
  @font-face {
    font-family: SF_Pro_Display_bold;
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF');
  }
  @font-face {
    font-family: SF_Pro_Display_regular;
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF');
  }
  
  body {
    font-family: SF_Pro_Display !important;
  }
