$black: #000000;
$black2: #23272A;
$white:#FFFFFF;
$gray:#717070;
$green:#1DB954;
$light_gray:#DDDCDC;
$lighter_gray:#B7B6B6;
$gray_three:#E3E1E1;
$gray_four:#908E8E;
$grey_five:#F5F5F5;
$grey_sex:#D6D4D4;
$grey_seven:#AFAFAF;
$grey_eight:#747477;
$pink:#F25E3D;

